<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Фотоальбом{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Фотоальбом</h1>
        <nav>
            <a href="{{ url_for('app.home') }}">Головна</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('app.shared_album') }}">Загальний альбом</a>
                <a href="{{ url_for('app.album') }}">Мій альбом</a>
                <a href="{{ url_for('app.logout') }}">Вийти</a>
            {% else %}
                <a href="{{ url_for('app.login') }}">Увійти</a>
                <a href="{{ url_for('app.register') }}">Реєстрація</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
